@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');

body{
    font-family: 'Inter', sans-serif;
}
.dark{
    background-color: #3b3b3b;
    color: #fff;
}
#fps{
    border: 1px solid #333;
    border-radius: 2px;
    padding: 5px;
    
}

#container{
    width: 512px;
    height: 512px;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #888; 
    border-radius: 5px;
}

:not(svg){
    transform-origin: center;
}

